*.DS_Store
:q:
.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Bundler
.bundle/*

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/coverage
/doc
/.yardoc
/.vagrant

*.war
public/assets/

.chef
dumb.rdb

# Environment files that may contain sensitive data
.env
