.container.large-6
  .center
    .row.large-8
      %h2 Please login to Facebook to start searching for new events...
    .row.large-4
      %fb:login-button{ onlogin: 'FacebookLogin.checkLoginState();',
                        data: { 'max-rows' => '1', size: 'medium', 'show-faces' => 'true' } }
    %br
    .row.large-8
      %h6.subheader *No information from your profile is saved in our servers.

- content_for :javascript do
  = javascript_include_tag 'facebook_login'
