.container.large-6
  .row.large-8
    %h2.center Start searching what's happenin' around.
  %form{ action: events_path }
    .row.collapse
      .large-10.columns
        = text_field_tag :q, nil
      .large-2.columns
        %button{ class: 'button postfix' }
          %i.fi-magnifying-glass
          Search
