.container {
  height: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.parameter {
  display: inline-block;
  color: #000;

  &:hover {
    color: #000;
  }
}

@media(max-width:767px){
  .panel-wrapper {
    width: 100%;
  }
}